body {
  background-color: #000033;
  background-color: #fff;
  margin: 0;
  color: white;
  font-size: 32px;
}

.navbar {
  overflow: hidden;
  background-color: #000044;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: right;
  width: 75px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #000055;
}

.mainContainer {
  width: 100%;
  height: 300px;
  background-color: blue;
  border: groove;
  border-color: #222
}

.leftContainer {
  float: left;
  width: 60%;
  height: 300px;
  background-color: darkblue;
  margin-left: 10px;
  text-align: right;
  border: groove;
  border-color: #222
}

.rightContainer {
  float: right;
  width: 38.5%;
  height: 300px;
  background-color: darkblue;
  margin-right: 10px;
  border: groove;
  border-color: #222
}

.blankContainer {
  width: 100%;
  height: 300px;
  background-color: blue;
  border: groove;
  border-color: #222
}
